* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.container {
  width: 98vw;
}
.heading {
  text-align: center;
  color: #092635;
  font-size: 22px;
}

/* inputs-container */
.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #c5ebaa;
  padding: 20px;
  border-radius: 13px;
}
.inputs-container input {
  width: 300px;
  border: 1px solid black;
  outline: none;
  height: 35px;
  text-indent: 10px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
}

.container-input-history {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.btn-trans {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 20px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 200px;
}

.btn-trans:hover {
  background-color: #f7fafa;
}

.btn-trans:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

/* transcation-history */
.transcation-history h1 {
  width: 100%;
  margin: 0px;
  color: #092635;
  background-color: #c5ebaa;
  position: sticky;
  top: 0px;
  padding: 5px;
  text-indent: 10px;
  border-radius: 15px;
}
.transcation-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  overflow: scroll;
}
.transcation-history::-webkit-scrollbar {
  display: none;
}
.each-trans {
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 5px;
  border-radius: 4px;
}
.each-trans p {
  margin: 10px;
}

.total-balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.total-balance h1 {
  margin: 0px;
}

.income-expenduture {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.income-expenduture h1 {
  margin: 0px;
}

.container-income-expenduture {
  display: flex;
  align-items: center;
  flex-direction: column;
}
